/* site colors */
@primary-color: #e3f2fd;
@secondary-color: lightgray;
@tertiary-color: gray;

/* custom border mixin*/
.border() {
  border: 1px solid @tertiary-color;
  border-radius: 20px;
}

/* custom outline mixin */
.text-outline(@color, @thickness: 1px) {
  text-shadow: -@thickness -@thickness 0 @color, @thickness -@thickness 0 @color,
    -@thickness @thickness 0 @color, @thickness @thickness 0 @color;
}

body {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;

  padding: 40px;
  gap: 20px;
}

h1 {
  color: @primary-color;
  align-self: center;
  .text-outline(@tertiary-color, 1.5px);
}

/* base container */
.base-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  margin: 0;
  width: auto;

  background-color: @secondary-color;
  .border();
  padding: 20px;

  overflow: auto;
}

section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  flex-basis: 50%;
  flex-grow: 1;

  .border();
  background-color: white;

  overflow: auto;
}

/* larger than mobile */
@media (min-width: 576px) {
  body {
    padding: 20px;
  }

  .base-container {
    padding: 10px;
  }
}

/* larger than tablet */
@media (min-width: 768px) {
  body {
    padding: 30px;
  }

  .base-container {
    padding: 15px;
  }
}

/* larger than desktop */
@media (min-width: 992px) {
  body {
    padding: 40px;
  }

  .base-container {
    padding: 20px;
  }
}

[aria-label="list"] {
  overflow: auto;
}

/* customizing the Bootstrap list group style */
.list-group {
  .border();
  border-radius: 20px;
  padding: 0;
}
.list-group .list-group-flush {
  border: none;
}

/* alternating list colors */
.list-group-item-action:nth-child(even) {
  border: none;
  background-color: @primary-color;

  .list-group-flush * {
    background-color: @primary-color;
  }
}

/* customizing the Bootstrap pagination style */
[aria-label="pagination"] {
  align-self: center;
  * {
    color: black;
  }
}

/* customizing the Bootstrap navbar style */
.navbar {
  .border();
  background-color: @primary-color;
}

/* customizing the Bootstrap navbar-brand style */
.navbar-brand {
  font-weight: bold;
  color: @tertiary-color;
  .text-outline(black, 0.25px);

  &:hover {
    color: @tertiary-color;
    text-decoration: underline;
  }
}
